<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/account.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <title>Update Account</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>

                    {% if not request.session.user_id %}
                    <li class="nav-item">
                        <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
                    {% endif %}
    
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>

                    {% if request.session.user_id %}
                    <li class="nav-item">
                        <a href="/user/{{request.session.user_id}}" class="nav-link">Profile</a>
                    </li>

                    <li class="nav-item current">
                        <a href="/userAccount/{{request.session.user_id}}" class="nav-link">Account</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <!-- Logo Area ----------------------------------------------->
        <div class="head">
            <div class="logo">
                <a href="/"><h1>Narecipe</h1></a>
            </div>
            <div class="subHead">
                <div class="subHeadA">
                    <h2>Queen <span>of the</span> Kitchen</h2>
                </div>
                <div class="subHeadB">
                    <a href="/user/{{request.session.user_id}}">Welcome, {{userInfo.first_name}}</a>
                </div>
            </div>
        </div>
        <!-- Flash Msg --------------------------------------------------------------------------------------------->
        {% if messages %}
        <div class="flashMsg">
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <!-- Form area ----------------------------------------------->
        <div class="formBox">

            <form action="/userAccount/updateAccount" method="POST" class="form">
                {% csrf_token %}
                <!-- First Name ----------------------------------------------->
                <div class="firstName">
                    <div class="leftA">
                        First Name:
                    </div>
                    <div class="leftB">
                        <input type="text" name="first_name"  value="{{userInfo.first_name}}"/>
                    </div>
                </div>

                <!-- Last Name ----------------------------------------------->
                <div class="lastName">
                    <div class="leftA">
                        Last Name:
                    </div>
                    <div class="leftB">
                        <input type="text" name="last_name" value="{{userInfo.last_name}}"/>
                    </div>
                </div>

                <!-- Email ----------------------------------------------->
                <div class="email">
                    <div class="leftA">
                        Email:
                    </div>
                    <div class="leftB">
                        <input type="email" name="email" value="{{userInfo.email}}"/>
                    </div>
                </div>

                <!-- Password ----------------------------------------------->
                <div class="pass">
                    <div class="leftA">
                        Password:
                    </div>
                    <div class="leftB">
                        <input type="password" name="password"/>
                    </div>
                </div>

                <!-- Password confirmation ----------------------------------------------->
                <div class="passConf">
                    <div class="leftA">
                        Confirm Password:
                    </div>
                    <div class="leftB">
                        <input type="password" name="password_confirmation"/>
                    </div>
                </div>

                <!-- The hidden input for updating that specific user ----------------------------------------------->
                <input type="hidden" name="user_id" value="{{userInfo.id}}">
                <div class="btn">
                    <button class="border">Submit</button>

                </div>

            </form>
        </div>
        <!-- The end of the form   ----------------------------------------------->


    </div>
    
    <script src="{% static 'mainApp/javaScript/home.js' %}" type="text/javaScript"></script>

    
</body>
</html>