<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/dashboard.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    
                    {% if not request.session.user_id %}
                    <li class="nav-item">
                            <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
                    {% endif %}

                    <li class="nav-item current">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>
                    
                    {% if request.session.user_id %}
                    <li class="nav-item">
                        <a href="/user/{{request.session.user_id}}" class="nav-link">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="/userAccount/{{request.session.user_id}}" class="nav-link">Account</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <!-- Logo Area ----------------------------------------------------->
        <div class="head">
            <div class="logo">
                <a href="/"><h1>Narecipe</h1></a>
            </div>
            <div class="subHead">
                <div class="subHeadA">
                    <h2>Queen <span>of the</span> Kitchen</h2>
                </div>
                <div class="subHeadB">
                    {% if request.session.user_id %}
                        <a href="/user/{{request.session.user_id}}">Welcome, {{user.first_name}}</a>
                    {% else %}
                        <h5>Guest</h5>
                    {% endif%}
                </div>
            </div>
        </div>

        <!-- Serach Bar ---------------------------------------------------->
        <div class="search">
        </div>
        
        <!-- Form Container ------------------------------------------------>
        {% if request.session.user_id %}
        <div class="formBox">
            {% if messages %}
            <div class="flashMsg">
                <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- The img -------------------------------------------------->
            <div class="img">
                <img src="../../static/mainApp/img/MyPost.jpg">
            </div>

            <!-- Adding new recipe ------------------------------------------------->
            <div class="recipeForm">
                <div class="formTitle">
                    <h2 class=>Add a New Recipe!</h2>
                </div>

                <div class="content">
                    <form action="submitRecipe" method="POST">
                        {% csrf_token %}
                        <div class="nameCat">
                            <div class="leftA">
                                Dish Name:
                            </div>
                            <div class="leftB">
                                <input type="text" name="recipe_name" placeholder="Recipe Name"/>
                            </div>
                            <div class="rightA">
                                Category:
                            </div>

                            <div class="rightB">
                                <select name="recCat">
                                    {% for c in allCat %}
                                    <option value="{{c.id}}">{{c.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
    
                        <div class="time">
                            <div class="leftA">
                                Prepration Time:
                            </div>
                            <div class="leftB">
                                <input type="number" name="prep_time" value="0" placeholder="Preparation Time"/>
                            </div>
    
                            <div class="rightA">
                                Cooking Time:
                            </div>
                            <div class="rightB">
                                <input type="number" name="cook_time" value="0" placeholder="Cooking Time"/>
                            </div>
                        </div>
    
                        <div class="ingredA">
                            <div class="leftA">
                                Ingredient1:
                            </div>
                            <div class="leftB">
                                <input type="text" name="ingred1" placeholder="Ingredient"/>
                            </div>
                            <div class="rightA">
                                Ingredient2:
                            </div>
                            <div class="rightB">
                                <input type="text" name="ingred2" placeholder="Ingredient"/>
                            </div>
                        </div>
    
                        <div class="ingredB" id="btnAddRow">
                            <div class="rightA">
                                <h4 class="border"> Add More Ingredients </h4>
                            </div>
                        </div>
                        
                        <div class="otherIngredient">
                            <div class="ingred3">
                                <input type="text" value="" name="ingred3" placeholder="Ingredient">
                            </div >
                            <div class="ingred4">
                                <input type="text" value="" name="ingred4" placeholder="Ingredient">
                            </div>
                            <div class="ingred5">
                                <input type="text" value="" name="ingred5" placeholder="Ingredient">
                            </div >
                            <div class="ingred6">
                                <input type="text" value="" name="ingred6" placeholder="Ingredient">
                            </div>
                            <div class="ingred7">
                                <input type="text" value="" name="ingred7" placeholder="Ingredient">
                            </div>
                            <div class="ingred8">
                                <input type="text" value="" name="ingred8" placeholder="Ingredient">
                            </div>
                            <div class="ingred9">
                                <input type="text" value="" name="ingred9" placeholder="Ingredient">
                            </div>
                            <div class="ingred10">
                                <input type="text" value="" name="ingred10" placeholder="Ingredient">
                            </div>
                        </div>
                        <div class="diraction">
                            <div class="rightA">
                                Direction:
                            </div>
                            <div class="rightB">
                                <textarea name="direction" cols="15" placeholder="Recipe's Direction Here!"></textarea>
                            </div>
                        </div>
                            <div class="imgDir">
                                <div class="leftA">
                                    Image URL:
                                </div>
                                <div class="leftB">
                                    <input type="url" name="recipe_img">
                                </div>
                                <div class="rightB">
                                    <button >Submit</button>
                                </div>
                                
                            </div>
                    </form>
                </div>
                    
            </div>
            
        </div>
        {% endif %}
       
        <!-- List of all Recipes ------------------------------------------->
        <div id="container" class="container">
            <div class="title">
                <h2>All Recipes</h2>
            </div>

            <div class="allRecipesList">
                {% for r in allRecipies %}
                    <div class="box" >
                        <div class="recipeImg">
                            <a href="/recipe/{{r.id}}"><img src="{{r.img}}" alt=""></a>
                        </div>
                        <div class="recipeName">
                            <p><a href="/recipe/{{r.id}}">{{r.name}}<span> ({{r.category.name}})</span></a></p>
                        </div>
                        
                        <div class="recipeCreater">
                            <h6>Posted by : <a href="/user/{{r.user.id}}">{{r.user.first_name}}</a></h6>
                        </div>
                        
                        <div class="recipeCreatedDate">
                            <h6>Posted at : {{r.created_at}}</a></h6>
                        </div>

                        {% if request.session.user_id %}
                            {% ifnotequal r.user.id request.session.user_id %}
                                <div class="favoriteIcons">
                                    {% if r.myFavorite is False %}
                                        <a href="/Like/{{r.id}}"><img src="../../static/mainApp/img/like.png" alt="like icon"></a>
                                    {% else %}
                                        <a href="/dislike/{{r.id}}"><img src="../../static/mainApp/img/dislike.png" alt="dislike icon"></a>
                                    {% endif %}
                                </div>
                            {% endifnotequal %}
                        {% endif%}
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- icon area ----------------------------------------------------->
        <div class="icon">
            <img onclick="topFunction()" id="toTop" title="Go to top" src="../../static/mainApp/img/goToTop.png" alt="">
        </div>

        <!-- <div class="createCategory">
            <fieldset>
                <legend>Create Categories</legend>
                <form action="submitCategory" method="POST">
                    {% csrf_token %}
                    <p>Name of the Category</p>
                    <p><input type="text" name="cat" id=""></p>
                    <button>Done!</button>
                </form>
            </fieldset>

        </div> -->

    </div>

    <script src="{% static 'mainApp/javaScript/home.js' %}" type="text/javaScript"></script>
    <script src="{% static 'mainApp/javaScript/dashboard.js' %}" type="text/javaScript"></script>

</body>
</html>