<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/recipeInfo.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title>Recipe Information</title>
</head>
<body>
   <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>

                    {% if not request.session.user_id %}
                    <li class="nav-item">
                        <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
                    {% endif %}
    
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>

                    {% if request.session.user_id %}
                    <li class="nav-item">
                        <a href="/user/{{request.session.user_id}}" class="nav-link">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="/userAccount/{{request.session.user_id}}" class="nav-link">Account</a>
                    </li>

                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <!-- Logo Area ----------------------------------------------------->
        <div class="head">
            <div class="logo">
                <a href="/"><h1>Narecipe</h1></a>
            </div>
            <div class="subHead">
                <div class="subHeadA">
                    <h2>Queen <span>of the</span> Kitchen</h2>
                </div>
                <div class="subHeadB">
                    <a href="/user/{{request.session.user_id}}">Welcome, {{user.first_name}}</a>
                    <!-- <a href="/user/{{request.session.user_id}}">Back</a> -->
                </div>

            </div>
        </div>

        <div class="container">
            <!-- Img and recipe area -->
            <div class="recipeTitle">
                <h2>{{recipe.name}}</h2>
            </div>
            <div class="boxA">
                <div class="recipeImg">
                    <img src="{{recipe.img}}" alt="">
                </div>
                <!-- Review area -->
                {% if recipe.user.id != request.session.user_id %}
                <div class="review">
                    <div class="reviewTitle">
                        <h2>Review</h2>
                    </div>
                    <form action="submitReview/{{recipe.id}}" method="POST">
                    {% csrf_token %}
                    <div class="reviewInput">
                        <textarea name="review" placeholder="Write a Review!"></textarea>
                    </div>
                        <button>Add Review</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="boxB">
                <div class="recipe">
                    
                    <div class="recipeSubTitle1">
                        <h3>Prepration Time: {{ recipe.prepTime}}</h3>
                    </div>
                    <div class="recipeSubTitle2">
                        <h3>Cooking Time: {{ recipe.cookTime}}</h3>
                    </div>
                    <div class="ingredTitle">
                        <h2>Ingredients</h2>
                    </div>
                    {% for i in ingred %}
                    <div class="ingred">
                        <h2>- {{i}}</h2>
                    </div>
                   {% endfor %}

                    <div class="directionTitle">
                        <h2>Directions</h2>
                    </div>

                    <div class="direction">
                        {{recipe.direction}}
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- List of all Reviews -->
        {% if reviews %}
        <div class="listContainer">
            <div class="allReviewsTitle">
                <h2>All Reviews</h2>
            </div>

            <div class="allReviews">
                    {% for r in reviews %}
                    <div class="box">
                        <div class="reviews">
                            {{ r.text }}
                        </div>
                        <div class="reviewer">
                            <h6>Posted by : <span>{{r.user.first_name}} {{r.user.last_name}}</span></h6>
                        </div>
                        <div class="createdAt">
                            <h6>Posted at : {{r.created_at}}</h6>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="icon">
            <img onclick="topFunction()" id="toTop" title="Go to top" src="../../static/mainApp/img/goToTop.png" alt="">
        </div>
   </div>
   <script src="{% static 'mainApp/javaScript/home.js' %}" type="text/javaScript"></script>
   <script src="{% static 'mainApp/javaScript/goToTop.js' %}" type="text/javaScript"></script>
</body>
</html>


