<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/updateRecipe.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title>Update Recipe</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -------------------------------------------------------------------------------------------->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    
                    {% if not request.session.user_id %}
                    <li class="nav-item">
                        <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>
                    
                    {% if request.session.user_id %}
                    <li class="nav-item current">
                        <a href="/user/{{request.session.user_id}}" class="nav-link">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="/userAccount/{{request.session.user_id}}" class="nav-link">Account</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        
        <!-- Logo Area ---------------------------------------------------------------------------------------------->
        <div class="head">
                <div class="logo">
                    <a href="/"><h1>Narecipe</h1></a>
                </div>
                <div class="subHead">
                    <div class="subHeadA">
                        <h2>Queen <span>of the</span> Kitchen</h2>
                    </div>
                    <div class="subHeadB">
                        <a href="/user/{{request.session.user_id}}">Welcome, {{user.first_name}}</a>
                        <!-- <a href="/userAccount/{{request.session.user_id}}">Account</a> -->
                    </div>
                </div>
        </div>
        <!-- Flash Msg --------------------------------------------------------------------------------------------->
        {% if messages %}
        <div class="flashMsg">
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- Form area -------------------------------------------------------------------------------------------->
        <div class="formBox">
            <!-- Update The Recipe --------------------------------------------------------------------------------->
            <form action="updateRecipe" method="POST" class="form">
                {% csrf_token %}
                <div class="img">
                    <img src="{{recipeInfo.img}}" alt="Recipe Image">
                </div>

                <div class="formTitle">
                    <h3>Update</h3>
                    <h2>{{recipeInfo.name}}!</h2>
                </div>
                <!-- Recipe Name ----------------------------------------------------------------------------------->
                <div class="recipeName">
                    <div class="boxA">
                        Dish Name:
                    </div>
                    <div class="boxB">
                        <input type="text" name="recipe_name" value="{{recipeInfo.name}}">
                    </div>
                </div>

                <!-- Recipe Category -------------------------------------------------------------------------------->
                <div class="recipeCat">
                    <div class="boxA">
                        Category:
                    </div>
                    <div class="boxB">
                        <select name="recCat" class="select-css">
                            <option value="{{recipeInfo.category.id}}" selected>{{recipeInfo.category.name}}</option>
                            {% for c in allCat %}
                                <option value="{{c.id}}" >{{c.name}}</option>
                            {% endfor %}
                        </select>  
                    </div>
                </div>
                
                <!-- Recipe Prepration Time --------------------------------------------------------------------------->
                <div class="recipePrepTime">
                    <div class="boxA">
                        Prepration Time:
                    </div>
                    <div class="boxB">
                        <input type="number" name="prep_time" value="{{recipeInfo.prepTime}}">
                    </div>
                </div>
                
                <!-- Recipe Cooking Time ----------------------------------------------------------------------------->
                <div class="recipeCookTime">
                    <div class="boxA">
                        Cooking Time:
                    </div>
                    <div class="boxB">
                        <input type="number" name="cook_time" value="{{recipeInfo.cookTime}}">
                    </div>
                </div>
                
                <!-- Recipe Ingredient ------------------------------------------------------------------------------->
                <div class="ingred1">
                    <div class="boxA">
                        Ingredient1:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred1" value="{{recipeInfo.ingred1}}">
                    </div>
                </div>
                <div class="ingred2">
                    <div class="boxA">
                        Ingredient2:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred2" value="{{recipeInfo.ingred2}}">
                    </div>
                </div>
                <div class="ingred3">
                    <div class="boxA">
                        Ingredient3:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred3" value="{{recipeInfo.ingred3}}">
                    </div>
                </div>
                <div class="ingred4">
                    <div class="boxA">
                        Ingredient4:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred4" value="{{recipeInfo.ingred4}}">
                    </div>
                </div>
                <div class="ingred5">
                    <div class="boxA">
                        Ingredient5:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred5" value="{{recipeInfo.ingred5}}">
                    </div>
                </div>
                <div class="ingred6">
                    <div class="boxA">
                        Ingredient6:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred6" value="{{recipeInfo.ingred6}}">
                    </div>
                </div>
                <div class="ingred7">
                    <div class="boxA">
                        Ingredient7:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred7" value="{{recipeInfo.ingred7}}">
                    </div>
                </div>
                <div class="ingred8">
                    <div class="boxA">
                        Ingredient8:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred8" value="{{recipeInfo.ingred8}}">
                    </div>
                </div>
                <div class="ingred9">
                    <div class="boxA">
                        Ingredient9:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred9" value="{{recipeInfo.ingred9}}">
                    </div>
                </div>
                <div class="ingred10">
                    <div class="boxA">
                        Ingredient10:
                    </div>
                    <div class="boxB">
                        <input type="text" name="ingred10" value="{{recipeInfo.ingred10}}">
                    </div>
                </div>

                <!-- Recipe Direction ------------------------------------------------->
                <div class="recipeDirection">
                    <div class="boxA">
                        Direction:
                    </div>
                    <div class="boxB">
                        <textarea name="direction" >{{recipeInfo.direction}}</textarea>
                    </div>
                </div>

                <!-- Recipe Img ------------------------------------------------->
                <div class="recipeImg">
                    <div class="boxA">
                        Image URL:
                    </div>
                    <div class="boxB">
                        <input type="text" name="recipe_img" value="{{recipeInfo.img}}">
                    </div>
                </div>

                <!-- Submit Buttton ------------------------------------------------->
                <input type="hidden" name="recipe_id" value="{{recipeInfo.id}}">
                <div class="btn">
                    <button class="border">Submit</button>
                </div>

            </form>
        </div>


    </div>
    <script src="{% static 'mainApp/javaScript/home.js' %}" type="text/javaScript"></script>
</body>
</html>
