<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/userProfile.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title>Profile</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    
                    {% if not request.session.user_id %}
                    <li class="nav-item">
                        <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>
                    
                    {% if request.session.user_id %}
                    <li class="nav-item current">
                        <a href="/user/{{request.session.user_id}}" class="nav-link">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="/userAccount/{{request.session.user_id}}" class="nav-link">Account</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <!-- Logo Area --------------------------------------------->
        <div class="head">
            <div class="logo">
                <a href="/"><h1>Narecipe</h1></a>
            </div>
            <div class="subHead">
                <div class="subHeadA">
                    <h2>Queen <span>of the</span> Kitchen</h2>
                </div>
                <div class="subHeadB">
                    <a href="/user/{{request.session.user_id}}">Welcome, {{mainUser.first_name}}</a>
                </div>
            </div>
        </div>
        
        <!-- List of user Recipes --------------------------------------------->
        <div class="container">
            <div class="titleArea">
                <div class="title">
                    <h2>{{userInfo.first_name}}s' {{title}}</h2>
                </div>
                <div class="subTitle">
                    <h6><a href="/user/{{userInfo.id}}">Recipes</a> | <a href="/user/{{userInfo.id}}/favorite">Favorite Recipes</a></h6>
                </div>
            </div>

            <div class="allRecipesList">
                {% for r in user_recipes %}
                    <div class="box">
                        <div class="recipeImg">
                            <a href="/recipe/{{r.id}}"><img src="{{r.img}}" alt=""></a>
                        </div>
                        <div class="recipeName">
                            <p><a href="/recipe/{{r.id}}">{{r.name}}<span> ({{r.category.name}})</span></a></p>
                        </div>

                        <div class="recipeCreater">
                            <h6>Posted by : <span>{{r.user.first_name}}</span></h6>
                        </div>

                        <div class="recipeCreatedDate">
                            <h6>Posted at : {{r.created_at}}</a></h6>
                        </div>
                        <!-- icon area ----------------------------------------------------->
                        {% if mainUser.id == userInfo.id %}
                            {% if r.user_id != request.session.user_id %}
                                <div class="favoriteIcon">
                                    <input type="hidden" name="user_id" value="{{userInfo.id}}">
                                    <a href="/user/dislike/{{r.id}}"><img src="../../static/mainApp/img/dislike.png" alt=""></a>
                                </div>
                            {% else %}
                                <div class="editDelete">
                                    <p>
                                    <a id="edit" href="/updateRecipeForm/{{r.id}}"><img src="../../static/mainApp/img/pen.png" alt=""></a>
                                    <a id="del" href="/deleteRecipe/{{r.id}}"><img src="../../static/mainApp/img/delete.png" alt=""></a>
                                    </p>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if r.user_id != request.session.user_id %}
                                {% if r.myFavorite is False %}
                                    <div class="favoriteIcon">
                                        <a href="/user/like/{{r.id}}"><img src="../../static/mainApp/img/like.png" alt="like icon"></a>
                                    </div>
                                {% else %}
                                    <div class="favoriteIcon">
                                        <a href="/user/dislike/{{r.id}}"><img src="../../static/mainApp/img/dislike.png" alt="dislike icon"></a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif%}
                        
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- icon area ----------------------------------------------------->
        <div class="icon">
            <img onclick="topFunction()" id="toTop" title="Go to top" src="../../static/mainApp/img/goToTop.png" alt="">
        </div>

    </div>
    <script src="{% static 'mainApp/javaScript/home.js' %}" type="text/javaScript"></script>
    <script src="{% static 'mainApp/javaScript/goToTop.js' %}" type="text/javaScript"></script>

</body>
</html>