<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginReg/css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Narecipe</title>
</head>
<body>
    <!-- <div id="bg-gray"></div> -->
    <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item current">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    
                    {% if not request.session.user_id %}
                    <li class="nav-item">
                            <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>
                    
                    {% if request.session.user_id %}
                    <li class="nav-item">
                        <a href="/user/{{request.session.user_id}}" class="nav-link">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="/userAccount/{{request.session.user_id}}" class="nav-link">Account</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {% endif %}
    
                </ul>
            </nav>
        </header>

        <!-- Home Container -->
        <div id="home">
            <h1 class="lg-heading">
                Narecipe
            </h1>
            <h2 class="sm-heading">
                Learn How to Cook & Try New Recipes
            </h2>
    
            <div class="icons">
                <a href="#!">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
            </div>
        </div>
    </div>

    <script src="{% static 'loginReg/javaScript/home.js' %}" type="text/javaScript"></script>
</body>
</html>