<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginReg/css/loginReg.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title>Login Registeration</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="menu-btn">
                <div class="btn-line1"></div>
                <div class="btn-line2"></div>
                <div class="btn-line3"></div>
            </div>
            <!-- the menu -->
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
    
                    <li class="nav-item current">
                        <a href="/loginreg" class="nav-link">Login/Register</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Recipies</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="imgContainer">
            <div class="text">
                <h1>Welcome to Narecipe</h1>
                <h2>Please Register or Login to Enjoy our Recipes!</h2>  
                <!-- flash messages -->
                {% if messages %}
                <div class="flashMsg">
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- end of flash messages -->
            </div>
        </div>

        <div class="formContainer">
        </div>
        
        <div id="box">
            <div id="main"></div>

            <!-- login Form -->
            <div class="loginForm">
                <form action="/login" method="POST">
                {% csrf_token %}
                    <h2>LOGIN</h2>
                    <input type="email" name="email" placeholder="Email"/><br>
                    <input type="password" name="password" placeholder="Password"/><br>
                    <button class="btn" >Login</button>
                </form>
            </div>
            
            <!-- Registration Form -->
            <div class="registerForm">
                <form action="/register" method="POST">
                {% csrf_token %}
                    <h2>REGISTER</h2>
                    <input type="text" name="first_name" placeholder="Name"/><br>
                    <input type="text" name="last_name" placeholder="Last Name"/><br>
                    <input type="email" name="email" placeholder="Email"/><br>
                    <input type="password" name="password" placeholder="Password"/><br>
                    <input type="password" name="password_confirmation" placeholder="Confirm Password"/><br>
                    <button class="btn" >Register</button>
                </form>
            </div>

            <div class="login-msg">Have an account?</div>
            <div class="register-msg">Don't have an account?

            </div>

            <button id="login-btn" class="border">Login</button>
            <button id="register-btn" class="border">Register</button> 
        </div>

        <div class="title">
            <h2>Please Register or Login to Enjoy our Recipes!</h2>  
        </div>
        {% if messages %}
        <div class="phoneFlash">
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}    
        </div>
        <div class="phoneBox">
            <!-- Login area ------------------------------------------>
            <div class="login">
                <div class="loginMsg">
                    <h6>Have an account?</h6>
                </div>
                <div class="loginBox">
                    <form action="/login" method="POST" class=form>
                    {% csrf_token %}
                        <h3>LOGIN</h3>
                        <input type="email" name="email" placeholder="Email"/><br>
                        <input type="password" name="password" placeholder="Password"/><br>
                        <button class="phoneBtn" >Login</button>
                    </form>
                </div>
            </div>

            <!-- Register area ------------------------------------------>
            <div class="register">
                <div class="registerMsg">
                    <h6>Don't have an account?</h6>
                </div>
                <div class="registerBox">
                    <form action="/register" method="POST">
                    {% csrf_token %}
                        <h3>REGISTER</h3>
                        <input type="text" name="first_name" placeholder="Name"/><br>
                        <input type="text" name="last_name" placeholder="Last Name"/><br>
                        <input type="email" name="email" placeholder="Email"/><br>
                        <input type="password" name="password" placeholder="Password"/><br>
                        <input type="password" name="password_confirmation" placeholder="Confirm Password"/><br>
                        <button class="phoneBtn" >Register</button>
                    </form>
                </div>
    
            </div>

        </div>
    </div>

    <script src="{% static 'loginReg/javaScript/loginReg.js' %}" type="text/javaScript"></script>
    <script src="{% static 'loginReg/javaScript/home.js' %}" type="text/javaScript"></script>
</body>
</html>




