
@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    --gray: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.8s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}

body,html{
    margin:0;
    padding: 0;
}

.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 'home';
}

/* headings --------------------------------------------------------------------------------------------*/
header{
    grid-area: 'header';
    position: fixed;
    z-index: 6;
    width:100%;
}

#home{
    grid-area: 'home';
    background:url(../img/photo-1506458961255-571f40df5aad.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    padding:7.4rem 12rem;
    line-height: 4.5rem;
    text-align: start;
}

h1,h2{
    margin:0;
    font-weight: 400;
}

.sm-heading{
    color: var(--grey);
    font-family: 'Courgette', cursive;
}

.lg-heading {
    font-size: 6rem;
    color: var(--orange);
    font-family: 'Great Vibes', cursive;
}

.icons{
    margin-top: -1rem;
}

.icons a{
    color:var(--darkGreen);
    text-decoration: none;
}

.icons a:hover{
    color: var(--orange);
    transition: all 0.7s ease-out;
}
   
/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .icon img:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
    #home{
        padding:7.4rem 9rem;
    }
    .sm-heading{
        font-size: 1.4rem;
    }
    .lg-heading {
        font-size: 5rem;
    }
    .icons{
        margin-top: -1.4rem;
    }
}

/* Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    #home{
        line-height:3.5rem; 
        padding:12rem 5rem;
    }
    .sm-heading{
        font-size: 1.3rem;
    }
    .lg-heading {
        font-size: 4rem;
    }
    .icons{
        margin-top: -.7rem;
    }
}

/* Iphone X horizontal -----------------------------------------------------------------*/
@media only screen and (max-width: 812px) {
    #home{
        line-height:2.6rem; 
        padding:4rem 6.7rem;
    }
    .sm-heading{
        font-size: 1rem;
    }
    .lg-heading {
        font-size: 3rem;
    }
    .icons{
        margin-top: -.5rem;
        font-size: .7rem;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    #home{
        line-height:2rem; 
        padding:7rem 3rem;
    }
    .sm-heading{
        font-size: .8rem;
    }
    .lg-heading {
        font-size: 2rem;
    }
    .icons{
        margin-top:-.5rem;
        font-size: .6rem;
    }
    
}

/* Iphone X and plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    #home{
        padding:7rem 3rem;
    }
}