
@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    --grey: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.6s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body,html{
    background: url(./../img/maddi-bazzocco-1178353-unsplash3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    margin:0;
    padding: 0;
}

.title, .phoneBox, .phoneFlash, .phoneFlash ul {
    display: none;
}
.wrapper{
    display: grid;
    z-index: 3;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'imgContainer'
        'formContainer';
}

.imgContainer{
    grid-area: imgContainer;
    display: grid;
    height: 40vh;
    z-index: 2;
}

.text{
    position: sticky;
    position: -webkit-sticky;
    top:7rem;
    height: 2vh;
    width: 50%;
    text-align: center;
}

.imgContainer h1{
    font-family: 'Great Vibes', cursive;
    color: var(--orange);
    font-size: 3.5rem;
    z-index: 2;
}

.imgContainer h2{
    font-family: 'Courgette', cursive;
    color: var(--grey);
    font-size: 1rem;
    z-index: 2;
}

.flashMsg{
    position: sticky;
    display: grid;
    grid-column: 2/2;
    margin-top: 1rem;
    justify-items: center;
    font-size: 1rem;
    font-family: 'Buda', cursive;
}

.flashMsg ul{
    text-align: start;
    justify-content: center;
    border: 2px solid var(--orange);
    color: var(--orange);
    list-style: none;
    background: var(--grey);
    padding: 2rem;
    line-height: 1.5rem;
    box-shadow: 0 0 20px 13px rgb(50, 50, 50);
}

.formContainer{
    grid-area: formContainer;
    display: grid;
    
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color:var(--orange);
    position: fixed;
    align-content: center;
    justify-content: center;
    z-index: -1;
}

#box{
    height: 18rem;
    width: 63rem;
    background: #2D2D2D;
    border-radius: 5px;
    position: relative;
    top:63vh;
    left:50vw;
    transform: translate(-50%, -50%);
    margin-bottom: 13rem;
}

#main{
    height: 28rem;
    width: 29rem;
    background: white;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.loginForm, .registerForm{
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.registerForm{
    top:55%;
    left:75%;
    visibility: hidden;
}

.loginForm h2, .registerForm h2{
    font-family: 'Courgette', cursive;
    font-size: 1.2rem;
    color: var(--orange);
}

.loginForm input, .registerForm input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid var(--grey);
    margin: 5px;
    font-family: 'Buda', cursive;
    font-size: .8rem;
}

.btn{
    height: 35px;
    width: 130px;
    background: var(--darkGreen);
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    color:whitesmoke;
    border:none;
    outline:none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}

.btn:hover{
    transition: all .3s ease-out;
    background: var(--orange);
    color: var(--grey);
    transform: scale(1.1);
    cursor: pointer;
}

/* animation for login and reg form btn ----------------------------------------------------*/
#login-btn, #register-btn{
    height: 35px;
    font-size: .9rem;
    width: 8rem;
    background: transparent;
    border:0;
    font-family: 'Courgette', cursive;
    color: var(--orange);
    border-radius: 5px;
    outline:none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%, -50%);
}

button::before, button::after {
    box-sizing: inherit;
    border-radius: 5px;
    content: '';
    position: absolute;
}

#login-btn:hover, #register-btn:hover{
    color:var(--orange);
    transition: all .6s ease-out;
    cursor: pointer;
}

/* the animation for btn ------------------------------------------------------------------*/

.border {
    transition: color 0.25s;
}

.border::before, .border::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.border::before {
    top: 0;
    left: 0;
}
.border::after {
    bottom: 0;
    right: 0;
}

.border:hover::before, .border:hover::after {
    width: 100%;
    height: 100%;
}
.border:hover::before {
    border-top-color: var(--orange);
    border-right-color: var(--orange);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.border:hover::after {
    border-bottom-color: var(--orange);
    border-left-color: var(--orange);
    transition: border-color 0s ease-out 0.40s, width 0.15s ease-out 0.40s, height 0.15s ease-out 0.65s;
} 
/* the end of animation ------------------------------------------------------------------*/
#register-btn{
    left:25%;
}

.login-msg, .register-msg{
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    font-weight: lighter;
    color:var(--orange);
    position: absolute;
    top:35%;
    left:75%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.register-msg{
    left:25%;
}

/* Ipad Pro media vertivcal-----------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
    *{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none ;
        -ms-animation: none ;
        animation: none;
    }
    
    #login-btn:hover, #register-btn:hover{
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
         animation-play-state: paused;
    }
    body,html{
        background-size: contain;
    }
    #box{
        width: 58rem;
    }
    #login-btn, #register-btn{
        border: 1px solid var(--orange);
    }
} 

/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .text{
        top:5rem;
    }
    .imgContainer{
        height: 12vh;
    }
    #box{
        width: 60rem;
        top:40vh;
    }
    
}

/* Iphone X horizontal media -----------------------------------------------------------------*/
@media only screen and (width: 812px) {
    #box, .formContainer, .text h2{
        display: none;
    }
    .wrapper{
        display: grid;
        z-index: 3;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'imgContainer'
            'title'
            'phoneBox';
    }
    .imgContainer{
        height: 97vh;
    }
    .text{
        position: absolute;
        top:2rem;
        width: 40%;
    }
    .imgContainer h1{
        font-size: 1.8rem;
    }
    .title{
        grid-area: title;
        display: grid;
        text-align: center;
    }
    .title h2{
        font-family: 'Courgette', cursive;
        color: var(--grey);
        font-size: .8rem;
        padding-bottom: 1rem;
    }
    .phoneBox{
        grid-area: phoneBox;
        display: grid;
        padding: 2rem 0;
        padding-bottom: 4rem;
        background: var(--orange);
        grid-gap: 2rem;
        grid-template-areas: 
            'login'
            'register';
    }
    .login{
        grid-area: login;
        display: grid;
        height: 20rem;
        background: var(--orange);
        justify-items:center;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    .loginMsg, .registerMsg{
        grid-area: loginMsg;
        display: grid;
        background: #2D2D2D;
        height: 90%;
        width: 100%;
        text-align: center;
        grid-column: 2/9;
        grid-row: 1/5;
    }
    .loginMsg h6, .registerMsg h6{
        font-family: 'Courgette', cursive;
        font-size: 1rem;
        color:var(--orange);
        padding-top: 2rem;
    }
    .loginBox{
        display: grid;
        background: whitesmoke;
        width: 100%;
        grid-column: 3/8;
        grid-row: 2/7;
        margin-top: 2rem;
        text-align: center;
    }
    .loginBox h3, .registerBox h3{
        font-family: 'Courgette', cursive;
        font-size: .8rem;
        color: var(--orange);
        padding: 1rem 0 .5rem 0;
    }
    .loginBox input, .registerBox input{
        font-family: 'Buda', cursive;
        border: 0px;
        outline: none;
        border-bottom: 1.4px solid gray;
        background:none;
        margin: 5px;
        color: var(--grey);
        font-size: .6rem;
        width: 70%;
    }
    .register{
        grid-area: register;
        display: grid;
        height: 20rem;
        background: var(--orange);
        justify-items:center;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    .registerBox{
        display: grid;
        background: whitesmoke;
        width: 100%;
        grid-column: 3/8;
        grid-row: 2/7;
        margin-top: 2rem;
        text-align: center;
    }
    .phoneBtn{
        width:6rem;
        padding: .3rem 0;
        border: 0;
        outline:none;
        border-radius: 5px;
        background:none;
        background: var(--darkGreen);
        color: whitesmoke;
        font-size: .6rem;
        font-family: 'Courgette', cursive;
        margin-top: 1rem;
    }
}

/* Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .text{
        top:4.3rem;
        height: 2vh;
    }
    .imgContainer{
        height: 10vh;
    }
    .imgContainer h1{
        font-size: 2.5rem;
    }
    .imgContainer h2{
        font-size: .8rem;
    }
    .flashMsg ul{
        font-size: .8rem;
        padding: 1rem;
        line-height: 1.3rem;
    }
    #box{
        position: relative;
        top:45vh;
        height: 18rem;
        width: 45rem;
    }
    #main{
        height: 24rem;
        width: 20rem;
    }
    .loginForm h2, .registerForm h2{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .loginForm input, .registerForm input{
        display: flex;
        justify-self: center;
        height: 20px;
        width: 250px;
        border: 0px;
        border-bottom: 1px solid var(--grey);
        margin: 1px;
        font-family: 'Buda', cursive;
        font-size: .8rem;
    }
    .btn{
        padding: .5rem 0;
        width:8.1875rem;
        margin-top: 1.5rem;
        margin-left: 7.5rem;
    }
    .login-msg, .register-msg{
        font-size: 1.3rem;
        font-weight: lighter;
        color:var(--orange);
        position: absolute;
        top:35%;
        left:75%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .register-msg{
        left:25%;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    #box, .formContainer, .text h2, .flashMsg, .flashMsg ul{
        display: none;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'imgContainer'
            'title'
            'phoneFlash'
            'phoneBox';
    }
    .imgContainer{
        height: 25vh;
    }
    .text{
        position: absolute;
        top:2rem;
        width: 40%;
    }
    .imgContainer h1{
        font-size: 1.8rem;
    }
    .title{
        grid-area: title;
        display: grid;
        text-align: center;
    }
    .title h2{
        font-family: 'Courgette', cursive;
        color: var(--grey);
        font-size: .8rem;
        padding-bottom: 1rem;
    }
    .phoneBox{
        grid-area: phoneBox;
        display: grid;
        padding: 2rem 0;
        padding-bottom: 4rem;
        background: var(--orange);
        grid-gap: 2rem;
        grid-template-areas: 
            'login'
            'register';
    }
    .login{
        grid-area: login;
        display: grid;
        height: 20rem;
        background: var(--orange);
        justify-items:center;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    .loginMsg, .registerMsg{
        grid-area: loginMsg;
        display: grid;
        background: #2D2D2D;
        height: 90%;
        width: 100%;
        text-align: center;
        grid-column: 2/9;
        grid-row: 1/5;
    }
    .loginMsg h6, .registerMsg h6{
        font-family: 'Courgette', cursive;
        font-size: 1rem;
        color:var(--orange);
        padding-top: 2rem;
    }
    .loginBox{
        display: grid;
        background: whitesmoke;
        width: 100%;
        grid-column: 3/8;
        grid-row: 2/7;
        margin-top: 2rem;
        text-align: center;
    }
    .loginBox h3, .registerBox h3{
        font-family: 'Courgette', cursive;
        font-size: .8rem;
        color: var(--orange);
        padding: 1rem 0 .5rem 0;
    }
    .loginBox input, .registerBox input{
        font-family: 'Buda', cursive;
        border: 0px;
        outline: none;
        border-bottom: 1.4px solid gray;
        background:none;
        margin: 5px;
        color: var(--grey);
        font-size: .6rem;
        width: 70%;
    }
    .register{
        grid-area: register;
        display: grid;
        height: 20rem;
        background: var(--orange);
        justify-items:center;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    .registerBox{
        display: grid;
        background: whitesmoke;
        width: 100%;
        grid-column: 3/8;
        grid-row: 2/7;
        margin-top: 2rem;
        text-align: center;
    }
    .phoneBtn{
        width:6rem;
        padding: .3rem 0;
        border: 0;
        outline:none;
        border-radius: 5px;
        background:none;
        background: var(--darkGreen);
        color: whitesmoke;
        font-size: .6rem;
        font-family: 'Courgette', cursive;
        margin-top: 1rem;
    }
    .phoneFlash{
        grid-area: phoneFlash;
        display: grid;
        padding: 1rem;
    }
    .phoneFlash ul{
        display: grid;
        font-size: .8rem;
        font-family: 'Buda', cursive;
        justify-content: center;
        border: 2px solid var(--orange);
        color: var(--orange);
        list-style: none;
        background: var(--grey);
        padding: 1rem;
        line-height: 1.3rem;
        box-shadow: 0 0 20px 13px rgb(50, 50, 50);
    }
}
/* Iphone X media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .imgContainer{
        height: 9.5rem;
    }
    .title h2{
        padding: 1rem 0;
    }
}

