
@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    --gray: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.8s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}

body,html{
    background: url(./../img/account.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    margin:0;
    padding: 0;
}

input{
    font-family: 'Buda', cursive;
    border: 0px;
    outline: none;
    border-bottom: 1.4px solid gray;
    background:none;
    margin: 5px;
    color: whitesmoke;
    font-size: 1rem;
    width: 100%;
}

.wrapper{
    display: grid;
    grid-template-areas: 
        'head head'
        'flashMsg formBox'
        '. formBox'
        '. formBox';
}

.head{
    grid-area: head;
    display: grid;
    padding: 1rem;
    height: 7rem;
    background-color: gray;
}
 
.logo h1 {
    display: inline-block;
    font-size: 3rem;
    color: var(--orange);
    font-family: 'Great Vibes', cursive;
}

.subHead{
    display: grid;
    grid-template-columns: 1fr .3fr;

}

.subHeadA h2{
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    color: var(--darkGreen);
    padding-left: .6rem;
    text-transform: capitalize;
}

.subHeadA span{
    font-size: .4rem;
}

.subHeadB{
    text-align: end;
}

.subHeadB a{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    text-decoration: none;
    color: var(--darkGreen);
    padding-right: 1rem; 
    text-transform: capitalize;
}

.flashMsg{
    grid-area:flashMsg; 
    display: grid;
    position: sticky;
    justify-items: start;
    padding: 6rem 0 0 4rem;
}

.flashMsg ul{
    display: grid;
    text-align: justify;
    font-size: 1rem;
    font-family: 'Buda', cursive;
    justify-content: center;
    border: 2px solid var(--orange);
    color: var(--orange);
    list-style: none;
    background: var(--grey);
    padding: 1.2rem;
    line-height: 1.5rem;
    box-shadow: 0 0 20px 13px rgb(50, 50, 50);
}

/* Form area -----------------------------------------------*/
.formBox{
    grid-area: formBox;
    display: grid;
    justify-self: end;
    padding: 6rem 4rem 0 0;
}

.form{
    grid-area: form;
    display: grid;

    border: 2px solid var(--darkGreen);
    background-color: var(--grey);
    width: 40vw;
    padding: 2rem;
    transition: all .7s;
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
    color: var(--darkGreen);
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    box-shadow: 0 0 1px 4px rgb(67, 67, 67);

    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'firstName lastName'
        'email email'
        'pass passConf'
        'btn btn';
}

.form:hover{
    box-shadow: 0 0 20px 13px rgb(169, 168, 168);
    transform: scale(1.05);
}
@keyframes scale{
    0%{
        transform: scaleX(0);
    }
    40%{
        transform: scaleX(0);
    }
    70%{
        transform:  scaleX(1.05);
    }
    85%{
        transform: scaleX(.98) ;
    }
    100%{
        transform:  scaleX(1) ;
    }
}

.firstName{
    grid-area: firstName;
}

.lastName{
    grid-area: lastName;
}

.email{
    grid-area: email;
}

.pass{
    grid-area: pass;
}

.passConf{
    grid-area: passConf;
}

.btn{
    grid-area: btn;
    display: grid;
    justify-content: center;
}

.btn button{
    margin-top: 1rem;
    width:8.1875rem;
    padding: .5rem 0;
    border: 0;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 5px;
    background:none;
    color: var(--orange);
    font-size: .9rem;
    font-family: 'Courgette', cursive;
    position: relative;
    vertical-align: middle;
}

button:hover{
    transform: scale(1.1);
    transition: all .6s ease-out;
}

button::before, button::after {
    box-sizing: inherit;
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.border {
    transition: color 0.25s;
}
.border::before, .border::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.border::before {
    top: 0;
    left: 0;
}
.border::after {
    bottom: 0;
    right: 0;
}
.border:hover {
    color: var(--orange);
}
.border:hover::before, .border:hover::after {
    width: 100%;
    height: 100%;
}
.border:hover::before {
    border-top-color: var(--orange);
    border-right-color: var(--orange);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.border:hover::after {
    border-bottom-color: var(--orange);
    border-left-color: var(--orange);
    transition: border-color 0s ease-out 0.40s, width 0.15s ease-out 0.40s, height 0.15s ease-out 0.65s;
}

/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    *{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none ;
        -ms-animation: none ;
        animation: none;
    }
    .form{
        width: 50vw;
    }
    .form:hover{
        box-shadow: 0 0 1px 4px rgb(67, 67, 67);
        transform: scale(1);
    }
    .btn button{
        border: 1px solid var(--orange);
    }
}

/* Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .wrapper{
        display: grid;
        grid-template-areas: 
            'head'
            'flashMsg'
            'formBox';
    }
    .formBox{
        grid-area: formBox;
        display: grid;
        justify-self: center;
        align-self: center;
        padding: 0;
        margin-top: 4rem;
    }
    .form{
        width: 80vw;
    }
    .flashMsg{
        justify-self: center;
        padding: 3rem 0 0 0;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    /* Header area */
    .head{
        height: 5rem;
    }
    .logo h1 {
        font-size: 2rem;
    }
    .subHead{
        grid-template-columns: 1fr 1fr;
    }
    .subHeadA h2{
        font-size: .63rem;
        padding-left: .4rem;
    }
    .subHeadA span{
        font-size: 6px;
    }
    .subHeadB{
        text-align: end;
    }
    .subHeadB a{
        font-size: .7rem;
    }
    .subHeadB h5{
        font-size: .7rem;
    }
    /* The end of Header */

    .form{
        padding: 1.5rem;
        font-size: .8rem;
        
        grid-row-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'firstName lastName'
        'email email'
        'pass passConf'
        'btn btn';
    }
    .flashMsg ul{
        font-size: .8rem;
    }
}

/* Iphone X media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .subHeadA h2{
        font-size: .2rem;
        padding-left: .4rem;
    }
}
  