@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    --gray: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.8s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body,html{
    background:whitesmoke;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

input, textarea, select{
    border: 0px;
    outline: none;
    border-bottom: 1.4px solid rgba(80, 81, 79, 0.454);
    background:none;
    margin: 5px;
    color: var(--gray);
    font-size: 1rem;
    width: 100%;
    font-family: 'Buda', cursive;
}

input placeholder{
    color: var(--gray);
}

select{
    color:var(--gray);
}

textarea {
    resize: none;
    width: 100%;
    border: 1.4px solid rgba(80, 81, 79, 0.454);
    border-radius:0 0 .7rem .7rem;
    padding: .5rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'head'
        'search'
        'formBox'
        'container';
}

.head{
    grid-area: head;
    display: grid;
    padding: 1rem;
    height: 7rem;
    background-color: gray;
}

.logo h1 {
    display: inline-block;
    font-size: 3rem;
    color: var(--orange);
    font-family: 'Great Vibes', cursive;
}

.subHead{
    display: grid;
    grid-template-columns: 1fr .3fr;
}

.subHeadA h2{
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    color: var(--darkGreen);
    padding-left: .6rem;
    text-transform: capitalize;
}

.subHeadA span{
    font-size: .4rem;
}

.subHeadB{
    text-align: end;
}

.subHeadB a{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    direction: none;
    color: var(--darkGreen);
    padding-right: 1rem; 
    text-transform: capitalize;
}

.subHeadB h5{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    direction: none;
    color: var(--darkGreen);
    padding-right: 1rem; 
    text-transform: capitalize;
}

/* Search area ----------------------------------------------------------*/
.search{
    grid-area: search;
    height: 3rem;
}

/* Form area ----------------------------------------------------------*/
.formBox{
    grid-area:formBox;
    display: grid;

    margin-bottom: 6rem;

    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
        'img recipeForm';
}

.img{
    grid-area:img;
    display: grid;
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes scale{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}

.img img{
    width: 100%;
}

/* Flash Msg ----------------------------------------------------------*/
.flashMsg{
    justify-self: center;
    padding-top: 23vh;
    grid-column-start: img;
    grid-row-start: img;
    font-size: 1rem;
    font-family: 'Buda', cursive;
    z-index: 1;
}

.flashMsg ul{
    display: grid;
    justify-content: center;
    border: 2px solid var(--orange);
    color: var(--orange);
    list-style: none;
    background: var(--grey);
    padding: 2rem;
    line-height: 1.5rem;
    box-shadow: 0 0 20px 13px rgb(50, 50, 50);
}

.recipeForm{
    grid-area:recipeForm;
    display: grid;
    justify-items: center;
    grid-template-columns:  1fr;
    grid-template-areas:
        'formTitle'
        'content';
}

.formTitle{
    grid-area:formTitle;
    max-height: 5.5rem;
    min-height: 4.5rem;
    width: 100%;
    display: grid;
    align-content: center;
}

.formTitle h2{
    font-family: 'Courgette', cursive;
    text-align: center;
    color: gray;
    font-size: 2rem;
}

.content{
    grid-area:content;
    display: grid;
    width: 75%;
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
    color: var(--orange);
    padding: 1rem 0 3rem 0;
}

form{
    display: grid;
    grid-row-gap:1.5rem;
}

.leftA{
    grid-area:leftA;
}
.leftB{
    grid-area:leftB;
}
.rightA{
    grid-area:rightA;
}
.rightB{
    grid-area:rightB;
}

.nameCat{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-column-gap: 6rem;
    grid-template-areas: 
        'leftA rightA'
        'leftB rightB'
}

.nameCat select{
    min-width: 8.1875rem;
}

.time{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-column-gap: 6rem;
    grid-template-areas: 
    'leftA rightA'
    'leftB rightB'
}

.ingredA{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-column-gap: 6rem;
    grid-template-areas: 
    'leftA rightA'
    'leftB rightB'
}

.ingredB{
    display: grid;
    outline:none;
    border:0;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    color: var(--darkGreen);
    
    grid-column-gap: 6rem;
    grid-template-columns:  1fr;
    grid-template-areas: 
        'rightA';
}


.ingredB h4{
    position: relative;
    padding: .7rem;
    font-size: 1rem;
}


.otherIngredient{
    height:8rem ;
    display: grid;
    grid-column-gap: 6rem;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(4,1.1fr);
    transition: all .4s;
}

.ingred3 ,.ingred4,.ingred5,.ingred6,.ingred7,.ingred8,.ingred9,.ingred10{
    display: none;
}

.show{
    display: initial;
}

.diraction textarea{
    height: 10rem;
}

.imgDir{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    margin-top: 3rem;
    grid-column-gap: 6rem;
    grid-template-areas: 
        'leftA .'
        'leftB rightB';
}

.imgDir button{
    padding: .5rem 0;
    width:8.1875rem;
    border: none;
    outline:none;
    border-radius: 5px;
    background: var(--darkGreen);
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Courgette', cursive;
}

.imgDir button:hover{
    transition: all .3s ease-out;
    background: var(--orange);
    color: var(--gray);
    transform: scale(1.1);
    cursor: pointer;
}

/* Recipe Area ------------------------------------------------------------------- */
.container{
    grid-area:container;
    display: grid;
    
    padding-bottom: 6rem;

    grid-row-gap: 6rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        'title'
        'allRecipesList';
}

.title{
    grid-area:title;
    display: grid;
    padding: 2rem 0 .6rem 0;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.title h2{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: var(--darkGreen);
    width: 20%;
    padding-bottom: .7rem;
    border-bottom: 2px solid gray;
}

.allRecipesList{
    grid-area:allRecipesList;
    display: grid;  
    padding: 0 2rem;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    padding: 2rem;
    transition: all .7s;
    border: 3px solid var(--darkGreen);
    border-radius: 2rem 0;
}

.box:hover{
    box-shadow: 0 0 20px 13px rgb(169, 168, 168);
    transform: scale(1.05);
}

.recipeImg{
    height: 18rem;
    overflow: hidden;
}

.recipeImg img{
    width: 100%;

}

.recipeName{
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    padding: 1.5rem 0 .5rem 0;
    line-height: 1.6rem;
    height: 5rem;
}

.recipeName a{
    text-decoration: none;
    color: var(--gray);
}

.recipeName span{
    font-family: 'Buda', cursive;
    font-size: 1.2rem;
    color: var(--darkGreen);
}

.recipeCreater{
    font-family: 'Buda', cursive;
    font-size: 1.5rem;
    color: var(--gray);
    padding-bottom: .4rem;
}

.recipeCreater a{
    color: var(--orange);
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
}

.recipeCreatedDate{
    font-family: 'Buda', cursive;
    font-size: 1.2rem;
    color: var(--gray);
    display: inline-block;
}

.favoriteIcons{
    display: grid;
    justify-content: end;
}

.favoriteIcons img{
    width: 1.6rem;
    cursor: pointer;
}

.favoriteIcons img:hover{
    animation: like;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes like{
    25%{
        transform: scale(1.5);
    }
    45%{
        transform: scale(1.3);
    }
    65%{
        transform: scale(1.5);
    }
}

/* Go to top icon ----------------------------------------------------------------- */
.icon{
    grid-area: icon;
    position: fixed;
    right: 1rem;
    bottom: 5px;
    width: 7rem;
    display: grid;
    justify-content: end;
}

.icon img{
    transition: all .3s;
    display: none;
    cursor: pointer;
    width: 7rem;
}

.icon img:hover{
    animation: point;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.animate{
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes point{
    25%{
        transform: translateY(-1.4rem);
    }
}

/* Ipad Pro media vertivcal-----------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
    .formTitle{
        max-height: 4rem;
        min-height: 3rem;
    }
    .content{
        padding: 0 0 1rem 0;
    }
    form{
        grid-row-gap:.8rem;
    }
    .otherIngredient{
        height:10rem ;
    }
    .recipeImg{
        height: 17rem;
    }
    .imgDir{
        margin-top: 4rem;
    }
}

/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {

    input, textarea, select{
        font-size: .8rem;
    }
    .formBox{
        margin-bottom: 3rem;
    }
    .formTitle{
        max-height: 4rem;
        min-height: 3rem;
    }
    .formTitle h2{
        font-size: 1.3rem;
    }
    .content{
        width: 90%;
        font-size: .8rem;
        padding: .5rem 0 1rem 0;
    }
    .ingredB h4{
        padding: .3rem .5rem;
        font-size: .7rem;
    }
    .otherIngredient{
        height:9rem ;
    }
    .diraction textarea{
        height: 6.5rem;
    }
    .imgDir{
        margin-top: 1rem;
    }
    .nameCat, .time, .ingredA, .ingredB, .otherIngredient, .imgDir{
        grid-column-gap: 4rem;
    } 
    .imgDir button{
        width:7.5rem;
        font-size: .8rem;
    }
    .container{
        padding-bottom: 6rem;
        grid-row-gap: 4rem;
    }
    .title{
        padding: .6rem 0;
    }
    .title h2{
        font-size: 2rem;
        padding-bottom: .7rem;
    }
    .box{
        padding: 1.5rem;
    }
    .recipeImg{
        height: 12rem;
    }
    .recipeName{
        font-size: 1.2rem;
        padding: 1rem 0 .5rem 0;
        line-height: 1.4rem;
        height: 4.5rem;
    }
    .recipeName span{
        font-size: 1rem;
    }
    .recipeCreater{
        font-size: 1rem;
        padding-bottom: .2rem;
    }
    .recipeCreatedDate{
        font-size: 1rem;
    }
    .favoriteIcons img{
        width: 1.4rem;
    }
}

/* Iphone X and Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 812px) {
    .formBox{
        margin-bottom: 6rem;
    
        grid-template-columns: 1fr;
        grid-template-areas:
            'img'
            'recipeForm';
    }
    .img{
        height: 594px;
        align-content: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .img img{
        width: 594px;
        height:717px;
        transform: rotate(90deg)
    }
    .otherIngredient{
        height:8.5rem ;
    }
    .diraction textarea{
        height: 10rem;
    }
    .allRecipesList{
        grid-area:allRecipesList;
        display: grid;  
        padding: 0 2rem;
        grid-gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .recipeImg{
        height: 15rem;
    }
    .recipeCreater{
        font-size: 1.4rem;
        padding-bottom: .2rem;
    }

    .recipeCreatedDate{
        font-size: 1.3rem;
    }
    .favoriteIcons img{
        width: 1.6rem;
    }
}
/* Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .recipeImg{
        height: 14rem;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    /* Header area */
    .head{
        height: 5rem;
    }
    .logo h1 {
        font-size: 2rem;
    }
    .subHead{
        grid-template-columns: 1fr 1fr;
    }
    .subHeadA h2{
        font-size: .63rem;
        padding-left: .4rem;
    }
    .subHeadA span{
        font-size: 6px;
    }
    .subHeadB{
        text-align: end;
    }
    .subHeadB a{
        font-size: .7rem;
    }
    .subHeadB h5{
        font-size: .7rem;
    }
    /* The end of Header */
    .flashMsg{
        padding-top: 4vh;
        font-size: .8rem;
    }
    .flashMsg ul{
        padding: 1.6rem;
    }
    .img{
        height: 297px;
        align-content: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .img img{
        width: 297px;
        height:358px;
        transform: rotate(90deg)
    }
    .formBox{
        margin-bottom: 4rem;
    }
    .title h2{
        font-size: 2rem;
        width: 40%;
    }
    .allRecipesList{
        grid-area:allRecipesList;
        display: grid;  
        padding: 0 3rem;
        grid-gap: 4rem;
        grid-template-columns: 1fr;
    }
    .box{
        padding: 2rem;
    }
    .recipeImg{
        height: 13rem;
    }
    .favoriteIcons{
        margin-top: .7rem;
    }
    .icon{
        width: 4rem;
    }
    .icon img{
        animation-iteration-count: initial;
        width: 4rem;
    }
}

/* Iphone X media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .subHeadA h2{
        font-size: .2rem;
        padding-left: .4rem;
    }
    .flashMsg{
        padding-top: 5vh;
        font-size: .7rem;
    }
    .flashMsg ul{
        padding: 1rem;
        line-height: 1rem;
    }
    .title h2{
        font-size: 1.4rem;
    }
    .recipeImg{
        height: 11rem;
    }
}

