
:root{
    --grey: #50514F;
    --darkGreen:#84DCC6;
    --pink:#F67E7D;
    --orange:#FFAC81;
    --box-shadow: 0 0 13px rgb(23, 23, 23);
}
.menu-btn{
    position: fixed;
    right: 35px;
    top:35px;
    z-index: 8;
    cursor: pointer;
    transition: all 0.6s ease-out;
}

.btn-line1, .btn-line2, .btn-line3 {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: var(--orange);
    transition: all .6s ease-out;
}

.close .btn-line1{
    transform:  rotate(45deg) translate(5px, 5px) scale(0.8);
    background-color:  gray;
}

.close .btn-line2{
    opacity: 0;
}

.close .btn-line3{
    transform:  rotate(-45deg) translate(7px, -6px) scale(0.8);
    background-color:  gray;
}

/* Menu Overlay -----------------------------------------------------------------*/
.menu{
    position: fixed;
    top:0;
    width: 100%;
    visibility: hidden;
    justify-items: center;
    z-index: 7;
}

.show.menu{
    visibility: visible;
}

.menu-nav{
    display:flex;
    flex-flow: column wrap;
    padding-top: 120px;
    float:right;
    width: 11rem;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: var(--grey);
    list-style: none;
    /* slide in form right */
    transform: translate3d(100%, 0, 0);
    transition: all 0.8s ease-out;
    box-shadow: 0 0 13px rgb(23, 23, 23);
}

/* slide in form top, right */
.show .menu-nav{
    transform: translate3d(0,0,0);
}
/* for sliding the navbar items(home, login,...) */
.nav-item{
    transform: translate3d(600px, 0, 0);
    transition: all 0.8s ease-out;
}
/* slide in form top, right */
.show .nav-item{
    transform: translate3d(0,0,0);
}

.current > a{
    color:var(--orange);
    transform: scale(1.1);
}

.nav-link{
    display: block;
    font-family: 'Courgette', cursive;
    position: relative;
    font-size: 15px;
    text-transform:capitalize;
    font-size: 1.1rem;
    line-height: 4.5rem;
    color: gray;
    text-decoration: none;
    transition: all .5s ease-out;
}

.nav-link:hover{
    color: var(--darkGreen);
    transform: scale(1.1);
}

/* Iphone X horizontal media -----------------------------------------------------------------*/
@media only screen and (width: 812px) {
    .menu-nav{
        padding-top: 5rem;
    }
    .nav-link{
        font-size: 1.1rem;
        line-height: 3.2rem;
    }
}

/* Iphone plus horizontal media -----------------------------------------------------------------*/
@media only screen and (width: 736px) {
    .menu-nav{
        padding-top: 5.5rem;
    }
    .nav-link{
        font-size: 1.1rem;
        line-height: 3.5rem;
    }
}

/* Iphone X media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .btn-line1, .btn-line2, .btn-line3 {
        width: 20px;
        height: 3px;
        margin: 0 0 3px 0;
    }
    .close .btn-line1{
        transform:  rotate(45deg) translate(3.2px, 5.5px);
        background-color:  gray;
    }
    .close .btn-line2{
        opacity: 0;
    }
    .close .btn-line3{
        transform:  rotate(-45deg) translate(3.2px, -5.5px);
        background-color:  gray;
    }
}
