@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    --gray: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.8s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body,html{
    background:whitesmoke;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;
}
a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'head'
        'container'
        'listContainer';
}

.head{
    grid-area: head;
    display: grid;
    padding: 1rem;
    height: 7rem;
    background-color: gray;
}
 
.logo h1 {
    display: inline-block;
    font-size: 3rem;
    color: var(--orange);
    font-family: 'Great Vibes', cursive;
}

.subHead{
    display: grid;
    grid-template-columns: 1fr .3fr;

}
.subHeadA h2{
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    color: var(--darkGreen);
    padding-left: .6rem;
    text-transform: capitalize;
}
.subHeadA span{
    font-size: .4rem;
}

.subHeadB{
    text-align: end;
}

.subHeadB a{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    direction: none;
    color: var(--darkGreen);
    padding-right: 1rem; 
    text-transform: capitalize;
}

/* End of header area -------------------------------------------------------------- */
.container{
    grid-area: container;
    display: grid;
    padding: 4rem 2rem 0 2rem;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'recipeTitle recipeTitle'
        'boxA boxB';
}

.recipeTitle{
    grid-area:recipeTitle;
    display: grid;
    align-content: center;
}

.recipeTitle h2{
    font-family: 'Courgette', cursive;
    text-align: center;
    text-transform: capitalize;
    color: var(--darkGreen);
    font-size: 3rem;
    padding-bottom: .7rem;
}

.boxA{
    grid-area: boxA;
    display: grid;
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'recipeImg'
        'review';
}
@keyframes scale{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}

.recipeImg{
    grid-area: recipeImg;
    display: grid;
    margin-bottom: 3rem;
    max-height: 50vh;
    overflow: hidden;
}

.recipeImg img{
    width: 100%;
}

.review{
    grid-area: review;
    display: grid;

    width:100%;
    text-align: center;

    grid-template-rows: repeat(1, auto) repeat(1, 1fr);
    grid-template-areas: 
        'reviewTitle'
        'reviewInput';
}

.reviewTitle{
    grid-area: reviewTitle;
    display: grid;
    justify-content: center;
    align-content: center;

}

.reviewTitle h2{
    font-size: 1.3rem;
    color: var(--orange);
    font-family: 'Courgette', cursive;
    border-bottom: 2px solid gray;
}

.reviewInput{
    grid-area: reviewInput;
    display: grid;
    padding: 1.5rem 1rem 2rem 1rem;
}

.reviewInput textarea{
    resize: none;
    height: 8rem;
    border: 1.4px solid rgba(80, 81, 79, 0.454);
    border-radius: 0 0 .7rem .7rem;
    padding: .5rem;
    color: var(--gray);
    font-size: 1rem;
    font-family: 'Buda', cursive;
    text-align: justify;
}

button{
    padding: .5rem 0;
    width:8.1875rem;
    border: none;
    outline:none;
    transition: all .2s ease;  
    border-radius: 5px;
    background: var(--darkGreen);
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Courgette', cursive;
    align-self: center;
}

button:hover{
    cursor: pointer;
    transition: all .3s ease-out;
    background: var(--orange);
    color: var(--gray);
    transform: scale(1.1);
}

.boxB{
    grid-area: boxB;
    display: grid;
    
    animation: scaleAfter;
    animation-duration: 2s;
    animation-iteration-count: 1;
    justify-items: center;
    padding: 0 2rem 0 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'recipe';
}
@keyframes scaleAfter{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.recipe{
    grid-area: recipe;
    display: grid;
    justify-content: center;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: repeat(8, auto) repeat(4,1fr);
    grid-template-areas:
        'recipeSubTitle1 recipeSubTitle2'
        'ingredTitle ingredTitle'
        'ingred ingred'
        'ingred ingred'
        'ingred ingred'
        'ingred ingred'
        'ingred ingred'
        'directionTitle directionTitle'
        'direction direction'
        'direction direction'
        'direction direction';
}

.recipeSubTitle1{
    grid-area: recipeSubTitle1;
    display: grid;
    justify-items: center;
}

.recipeSubTitle2{
    grid-area: recipeSubTitle2;
    display: grid;
    justify-items: center;

}

.recipeSubTitle1, .recipeSubTitle2{
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    color: var(--orange);
    padding-bottom: 3rem;
}

.ingred{
    display: grid;
    justify-items: justify;
    padding: 0 2rem;
}

.ingredTitle{
    grid-area: ingredTitle;
    display: grid;
    justify-items: center;
}

.ingredTitle h2, .directionTitle h2{
    font-size: 1.3rem;
    border-bottom: 2px solid gray;
    color: var(--orange);
    font-family: 'Courgette', cursive;
    padding-bottom: .2rem; 
}

.ingred h2{
    font-family: 'Buda', cursive;
    font-size: 1rem;
    color: var(--gray);
    padding-top: 1rem;
    text-transform: capitalize;
}

.directionTitle{
    grid-area: directionTitle;
    display: grid;
    padding-top: 3rem;
    justify-items: center;
}

.direction{
    grid-area: direction;
    display: grid;
    max-height: 18rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Buda', cursive;
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray);
    line-height: 1.5rem;
    text-align: justify;
}

/* Review Area -----------------------------------------------------------------*/
.listContainer{
    grid-area:listContainer;
    display: grid;  

    margin-bottom: 6rem;
    width: 90vw;
    max-height: 55rem;
    overflow: hidden;
    overflow-y: scroll;
    justify-self: center;
    transition: all .7s;
    
    grid-row-gap: 6rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        'allReviewsTitle'
        'allReviews';
}

.listContainer:hover{
    box-shadow: 0 0 20px 13px rgb(169, 168, 168);
    transform: scale(1.05)
}

.allReviewsTitle{
    grid-area:allReviewsTitle;
    display: grid;
    padding: 2rem 0 .6rem 0;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-items: center;
    
}

.allReviewsTitle h2{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: var(--darkGreen);
    border-bottom: 2px solid gray;
}

.allReviews{
    grid-area:allReviews;
    display: grid;  
    padding: 0 2rem 6rem 2rem;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    padding: 2rem;
    border: 2px solid var(--orange);
    background-color: var(--grey);
    font-family: 'Buda', cursive;
    color: var(--orange);
    transition: all .7s;
    box-shadow: 0 0 1px 4px rgb(67, 67, 67);
    max-height: 291.19px;
}

.box:hover{
    box-shadow: 0 0 20px 13px rgb(169, 168, 168);
    transform: scale(1.05);
}

.reviews{
    height: 10vh;
    min-height: 8rem;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 1px inset gray;
    border-radius: 2rem 0;
    padding: 1rem;
    font-size: 1rem;
    line-height:1.5rem; 
}

.reviewer{
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    color: gray;
    padding: 1.5rem 0 .5rem 0;
}

.reviewer span{
    color:var(--darkGreen);
    text-transform: capitalize;
    font-size: 1.6rem;
    text-decoration: none;
}

.createdAt{
    font-family: 'Buda', cursive;
    font-size: 1.3rem;
    color: gray;
}

/* Go to top icon ----------------------------------------------------------------- */
.icon{
    grid-area: icon;
    position: fixed;
    right: 1rem;
    bottom: 5px;
    width: 7rem;
    display: grid;
    justify-content: end;
}

.icon img{
    transition: all .3s;
    display: none;
    cursor: pointer;
    width: 7rem;
}

.icon img:hover{
    animation: point;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes point{
    25%{
        transform: translateY(-2rem);
    }
}

/* Ipad Pro media vertivcal-----------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
    .icon img:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
         animation-play-state: paused;
    }
    .container{
        padding: 3rem 2rem 1rem 2rem;
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        grid-template-columns: .8fr 1fr;
    }
    .listContainer:hover{
        box-shadow: none;
        transform: none;
    }
}

/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .container{
        grid-template-columns: .7fr 1fr;
    }
    .recipeTitle h2{
        font-size: 2.4rem;
        padding-bottom: 0;
    }
    .recipeImg{
        margin-bottom: 0;
        /* height: 10vh; */
    }
    
    .review{
        grid-area: review;
        display: grid;
    
        width:100%;
        text-align: center;
    
        grid-template-rows: repeat(1, auto) repeat(1, 1fr);
        grid-template-areas: 
            'reviewTitle'
            'reviewInput';
    }
    .reviewTitle{
        grid-area: reviewTitle;
        display: grid;
        justify-content: center;
        align-content: center;
    
    }
    .reviewTitle h2{
        font-size: 1.3rem;
        color: var(--orange);
        font-family: 'Courgette', cursive;
        border-bottom: 2px solid gray;
    }
    .reviewInput{
        grid-area: reviewInput;
        display: grid;
        padding: 1.5rem 1rem 2rem 1rem;
    }
    .reviewInput textarea{
        resize: none;
        height: 8rem;
        border: 1.4px solid rgba(80, 81, 79, 0.454);
        border-radius: 0 0 .7rem .7rem;
        padding: .5rem;
        color: var(--gray);
        font-size: 1rem;
        font-family: 'Buda', cursive;
        text-align: justify;
    }
    button{
        padding: .5rem 0;
        width:8.1875rem;
        border: none;
        outline:none;
        transition: all .2s ease;  
        border-radius: 5px;
        background: var(--darkGreen);
        color: whitesmoke;
        font-size: 1rem;
        font-family: 'Courgette', cursive;
        align-self: center;
    }
    button:hover{
        cursor: pointer;
        transition: all .3s ease-out;
        background: var(--orange);
        color: var(--gray);
        transform: scale(1.1);
    }
    button{
        width:8.125rem;
    }
    .listContainer{
        grid-row-gap: 5rem;
        width: 100vw;
    }
    .allReviewsTitle h2{
        font-size: 2.4rem;
    }
    .reviewer{
        font-size: 1.1rem;
    }
    .reviewer span{
        font-size: 1.3rem;
    }
    .createdAt{
        font-size: 1.1rem;
    }
}

/* Iphone X horizontal media -----------------------------------------------------------------*/
@media only screen and (max-width: 812px) {
    .container{
        grid-template-columns: .6fr 1fr;
    }
    .recipeTitle h2{
        font-size: 2rem;
    }
    .reviewInput{
        padding: 1.5rem 0rem 1rem 0rem;
    }
    .reviewInput textarea{
        height: 6rem;
        font-size: .8rem;
    }
    button{
        width:7.5rem;
        font-size: .8rem;
    }
    .recipeSubTitle1, .recipeSubTitle2{
        font-size: .8rem;
        padding-bottom: 2rem;
    }
    .ingredTitle h2, .directionTitle h2{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .ingred h2{
        font-size: .8rem;
        padding-top: .7rem;
    }
    .direction{
        margin-top: 0;
        font-size: .8rem;
        line-height: 1.4rem;
    }
    .allReviewsTitle h2{
        font-size: 2rem;
    }
    .allReviews{
        padding: 0 3rem 6rem 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .reviews{
        height: 17vh;
        font-size: .9rem;
        line-height:1.3rem; 
    }
}

/* ipad plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .reviews{
        height: 10vh;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    /* Header area */
    .head{
        height: 5rem;
    }
    .logo h1 {
        font-size: 2rem;
    }
    .subHead{
        grid-template-columns: 1fr 1fr;
    }
    .subHeadA h2{
        font-size: .63rem;
        padding-left: .4rem;
    }
    .subHeadA span{
        font-size: 6px;
    }
    .subHeadB{
        text-align: end;
    }
    .subHeadB a{
        font-size: .7rem;
    }
    .subHeadB h5{
        font-size: .7rem;
    }
    /* The end of Header */
    .container{
        padding: 3rem 2rem 1rem 2rem;
        grid-column-gap: 0;
        grid-gap: 3rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'recipeTitle'
            'boxB' 
            'boxA';
    }
    .recipe{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, auto) repeat(4,1fr);
        grid-template-areas:
            'recipeSubTitle1'
            'recipeSubTitle2'
            'ingredTitle'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'ingred'
            'directionTitle'
            'direction'
            'direction'
            'direction';
    }
    .recipeTitle h2{
        font-size: 1.6rem;
    }
    .recipeSubTitle1, .recipeSubTitle2{
        padding-bottom: 1rem;
    }
    .ingredTitle h2, .directionTitle h2{
        font-size: 1.3rem;
    }
    .ingredTitle h2{
        margin-top: 1rem;
    }
    .ingred{
        display: grid;
        justify-items: start;
    }
    .recipeImg{
        grid-area: recipeImg;
        display: grid;
        margin-bottom: 3rem;
        max-height: 30vh;
        overflow: hidden;
    }
    .listContainer{
        margin-bottom: 2rem;
    }
    .allReviewsTitle h2{
        font-size: 1.6rem;
    }

    .allReviews{
        padding: 0 2rem 6rem 2rem;
        grid-template-columns:  1fr;
    }
    .reviews{
        height: 17vh;
        font-size: .9rem;
        line-height:1.3rem; 
    }
}

/* Iphone X and Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .subHeadA h2{
        font-size: .2rem;
        padding-left: .4rem;
    }
    
    .icon{
        width: 4rem;
    }
    .icon img{
        animation-iteration-count: initial;
        width: 4rem;
    }
}


