@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    --gray: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.8s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body,html{
    background: url(./../img/photo-1542778907-6f041424fa5a.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
a{
    text-decoration: none;
}

input{
    font-family: 'Buda', cursive;
    border:0px;
    outline: none;
    border-bottom: 1.4px solid gray;
    background:none;
    margin:5px;
    color:var(--orange);
    color:whitesmoke;
    font-size: 1rem;
    width:100%;
    text-transform: capitalize;
}

textarea{
    resize: none;
    background: none;
    color:var(--orange);
    color:whitesmoke;
    font-family: 'Buda', cursive;
    font-size: 1rem;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    overflow-y:scroll;
    padding: 1rem;
    border-radius: 0 0 .7rem .7rem;
    border-color: gray;
}

.select-css{
    width: 100%;
    border-bottom: 1.4px solid gray;
    font-family: 'Buda', cursive;
    background:none;
    margin:5px;
    color:var(--orange);
    color:whitesmoke;
    font-size: 1rem;
    -moz-appearance: none;
    appearance: none;
}

.select-css::-ms-expand{
    display: none;
}

.select-css:focus{
    box-shadow: 0 1px 5px rgba(132, 220, 198, 0.8);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color:gray; 
    outline: none;
}

.select-css option{
    background-color: #FFAC81;
    color: aqua;
}

.wrapper{
    display: grid;
    grid-template-areas: 
        'head'
        'flashMsg'
        'formBox';
}

.head{
    grid-area: head;
    display: grid;
    padding: 1rem;
    height: 7rem;
    background-color: gray;
}

.logo h1 {
    display: inline-block;
    font-size: 3rem;
    color: var(--orange);
    font-family: 'Great Vibes', cursive;
}

.subHead{
    display: grid;
    grid-template-columns: 1fr .3fr;
}

.subHeadA h2{
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    color: var(--darkGreen);
    padding-left: .6rem;
    text-transform: capitalize;
}

.subHeadA span{
    font-size: .4rem;
}

.subHeadB{
    text-align: end;
}

.subHeadB a{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    direction: none;
    color: var(--darkGreen);
    padding-right: 1rem; 
    text-transform: capitalize;
}

/* Flash Msg ------------------------------------------------------------------*/
.flashMsg{
    grid-area:flashMsg; 
    display: grid;
    position: sticky;
    justify-items: center;
    padding-top: 4rem;
}

.flashMsg ul{
    display: grid;
    font-size: 1rem;
    font-family: 'Buda', cursive;
    text-align: justify;
    justify-content: center;
    border: 2px solid var(--orange);
    color: var(--orange);
    list-style: none;
    background: var(--grey);
    padding: 1.2rem;
    line-height: 1.5rem;
    box-shadow: 0 0 20px 13px rgb(50, 50, 50);
}

/* Form area --------------------------------------------------------------------------*/
.formBox{
    grid-area: formBox;
    display: grid;

    margin: 6rem 0 3rem 0;
    border: 2px solid var(--darkGreen);
    background-color: whitesmoke;
    justify-self: center;
    justify-content: center;
    transition: all .7s;
    width: 60vw;
    padding: 4rem;
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    box-shadow: 0 0 1px 4px rgb(67, 67, 67);

    grid-template-areas: 1fr 1fr;
    grid-template-areas: 
        'recipeForm';
}

.formBox:hover{
    box-shadow: 0 0 20px 13px rgb(169, 168, 168);
    transform: scale(1.05);
}
@keyframes scale{
    0%{
        transform: scaleX(0);
    }
    40%{
        transform: scaleX(0);
    }
    70%{
        transform:  scaleX(1.05);
    }
    85%{
        transform: scaleX(.98) ;
    }
    100%{
        transform:  scaleX(1) ;
    }
}

.img{
    display: grid;
    grid-area:img;
}

.img img{
    width: 100%;
}

.form{
    grid-area: form;
    display: grid;

    border: 1px inset gray;
    border-radius: 2rem 0;
    background:var(--gray);
    width: 100%;
    padding: 5rem;
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
    color: var(--darkGreen);

    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'formTitle formTitle'
        'img img'
        'recipeName recipeCat'
        'recipePrepTime recipeCookTime'
        'ingred1 ingred2'
        'ingred3 ingred4'
        'ingred5 ingred6'
        'ingred7 ingred8'
        'ingred9 ingred10'
        'recipeDirection recipeDirection'
        'recipeImg btn';
}

.formTitle{
    grid-area: formTitle;
    text-transform: capitalize;
    display: grid;
    text-align: center;
    font-size: 1.8rem;
    padding: 0 .6rem;
}

.img{
    grid-area: img;
}
.recipeName{
    grid-area: recipeName;
}
.recipeCat{
    grid-area: recipeCat;
}
.recipePrepTime{
    grid-area: recipePrepTime;
}
.recipeCookTime{
    grid-area: recipeCookTime;
}
.ingred1{
    grid-area: ingred1;
}
.ingred2{
    grid-area: ingred2;
}
.ingred3{
    grid-area: ingred3;
}
.ingred4{
    grid-area: ingred4;
}
.ingred5{
    grid-area: ingred5;
}
.ingred6{
    grid-area: ingred6;
}
.ingred7{
    grid-area: ingred7;
}
.ingred8{
    grid-area: ingred8;
}
.ingred9{
    grid-area: ingred9;
}
.ingred10{
    grid-area: ingred10;
}
.recipeDirection{
    grid-area: recipeDirection;
}
.recipeImg{
    grid-area: recipeImg;
}

.btn{
    grid-area: btn;
    display: grid;
    justify-content: center;
}

.btn button{
    margin-top: 1rem;
    width:8.1875rem;
    padding: .5rem 0;
    border: 0;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 5px;
    background:none;
    color: var(--orange);
    font-size: .9rem;
    font-family: 'Courgette', cursive;
    position: relative;
    vertical-align: middle;
}

/* Button animations ------------------------------------------------------*/
button:hover{
    transform: scale(1.1);
    transition: all .6s ease-out;
}
button::before, button::after {
    box-sizing: inherit;
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.border {
    transition: color 0.25s;
}
.border::before, .border::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.border::before {
    top: 0;
    left: 0;
}
.border::after {
    bottom: 0;
    right: 0;
}
.border:hover {
    color: var(--orange);
}
.border:hover::before, .border:hover::after {
    width: 100%;
    height: 100%;
}
.border:hover::before {
    border-top-color: var(--orange);
    border-right-color: var(--orange);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.border:hover::after {
    border-bottom-color: var(--orange);
    border-left-color: var(--orange);
    transition: border-color 0s ease-out 0.40s, width 0.15s ease-out 0.40s, height 0.15s ease-out 0.65s;
}

/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px){
    *{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none ;
        -ms-animation: none ;
        animation: none;

        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
    }
    button:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
    .formBox{
        width: 85vw;
        padding: 3rem;
    }
    .formBox:hover{
        box-shadow: 0 0 1px 4px rgb(67, 67, 67);
        transform: scale(1);
    }
    .btn button{
        border: 1px solid var(--orange);
    }
}

/* Ipad media -----------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .formBox{
        padding: 2rem;
    }
    .form{
        font-size: 1rem;
        grid-row-gap: 1.6rem;
    }
    .formTitle{
        font-size: 1.6rem;
    }
}

/* Iphone X horizontal media -----------------------------------------------------------------*/
@media only screen and (width: 812px) {
    .formTitle{
        padding: 0;
        font-size: 1.4rem;
    }
}

/* Iphone plus horizontal media -----------------------------------------------------------------*/
@media only screen and (max-width: 738px) {
    .formTitle{
        padding: 0;
        font-size: 1.4rem;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    /* Header area */
    .head{
        height: 5rem;
    }
    .logo h1 {
        font-size: 2rem;
    }
    .subHead{
        grid-template-columns: 1fr 1fr;
    }
    .subHeadA h2{
        font-size: .63rem;
        padding-left: .4rem;
    }
    .subHeadA span{
        font-size: 6px;
    }
    .subHeadB{
        text-align: end;
    }
    .subHeadB a{
        font-size: .7rem;
    }
    .subHeadB h5{
        font-size: .7rem;
    }
    /* The end of Header */
    .formBox{
        padding: .7rem;
    }
    .form{
        font-size: .7rem;
        grid-row-gap: 1.6rem;
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'formTitle'
            'img'
            'recipeName'
            'recipeCat'
            'recipePrepTime'
            'recipeCookTime'
            'ingred1'
            'ingred2'
            'ingred3'
            'ingred4'
            'ingred5'
            'ingred6'
            'ingred7'
            'ingred8'
            'ingred9'
            'ingred10'
            'recipeDirection'
            'recipeImg'
            'btn';
    }
    .formTitle{
        font-size: 1rem;
    }
}

/* Ipad X media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .subHeadA h2{
        font-size: .2rem;
        padding-left: .4rem;
    }
    .flashMsg{
        padding: 3rem 1rem 0 1rem;
    }
    .flashMsg ul{
        font-size: .8rem;
    }
    .formTitle{
        font-size: .8rem;
    }
}