@import url("menu.css");

@import url('https://fonts.googleapis.com/css?family=Almendra+Display|Archivo+Narrow|Buda:300|Calligraffitti|Courgette|Dancing+Script|Economica|El+Messiri|Farsan|Fira+Sans+Condensed|Fjalla+One|Forum|Great+Vibes|Lancelot|Lobster+Two|Merienda|Oleo+Script|Oswald|Philosopher|Pinyon+Script|Pompiere|Rochester|Romanesco|Tillana|Viga');

:root{
    font-family: 'Buda', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    --gray: #50514F;
    --darkGreen:#84DCC6;
    --orange:#FFAC81;

    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --easeOut: transition: all 0.8s ease-out;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body,html{
    background:whitesmoke;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'head'
        'container'
        'icon';
}

.head{
    grid-area: head;
    display: grid;
    padding: 1rem;
    height: 7rem;
    background-color: gray;
}
 
.logo h1 {
    display: inline-block;
    font-size: 3rem;
    color: var(--orange);
    font-family: 'Great Vibes', cursive;
}

.subHead{
    display: grid;
    grid-template-columns: 1fr .3fr;
}

.subHeadA h2{
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    color: var(--darkGreen);
    padding-left: .6rem;
    text-transform: capitalize;
}

.subHeadA span{
    font-size: .4rem;
}

.subHeadB{
    text-align: end;
}

.subHeadB a{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    color: var(--darkGreen);
    padding-right: 1rem; 
}

/* Recipe Area ------------------------------------------------------------------- */
.container{
    grid-area:container;
    display: grid;

    padding-bottom: 6rem;
    grid-row-gap: 6rem;

    grid-template-columns: 1fr;
    grid-template-areas:
        'titleArea'
        'allRecipesList';
}

.titleArea{
    grid-area: titleArea;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas: 
        'title'
        'subTitle';
}

.title{
    grid-area:title;
    display: grid;
    padding: 2rem 0 .6rem 0;
    text-align: center;
    width: 100%;
    justify-items: center;
}

.title h2{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: var(--darkGreen);
    padding-bottom: .7rem;
    border-bottom: 2px solid gray;
    text-transform: capitalize;
}

.subTitle{
    grid-area: subTitle;
    display: grid;
    width: 100%;
    text-align:  center;
}

.subTitle h6{
    font-family: 'Buda', cursive;
    color: var(--gray);

}

.subTitle a{
    font-size: 1rem;
    color: var(--orange);
    padding: 1rem;
}

.allRecipesList{
    grid-area:allRecipesList;
    display: grid;  
    padding: 0 2rem;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    padding: 2rem;
    transition: all .7s;
    border: 3px solid var(--darkGreen);
    border-radius: 2rem 0;
}
@keyframes scale{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}

.box:hover{
    box-shadow: 0 0 20px 13px rgb(169, 168, 168);
    transform: scale(1.05);
}

.recipeImg{
    height: 33vh;
    overflow: hidden;
}

.recipeImg img{
    width: 100%;
}

.recipeName{
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    padding: 1.5rem 0 .5rem 0;
    line-height: 1.6rem;
    height: 5rem;
}

.recipeName a{
    text-decoration: none;
    color: var(--gray);
}

.recipeName span{
    font-family: 'Buda', cursive;
    font-size: 1.2rem;
    color: var(--darkGreen);
}

.recipeCreater{
    font-family: 'Buda', cursive;
    font-size: 1.5rem;
    color: var(--gray);
    padding-bottom: .4rem;
}

.recipeCreater span{
    color: var(--orange);
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
}

.recipeCreatedDate{
    font-family: 'Buda', cursive;
    font-size: 1.2rem;
    color: var(--gray);
}

.favoriteIcon{
    display: grid;
    justify-content: end;
}

.favoriteIcon img{
    width: 1.6rem;
    cursor: pointer;
}

.favoriteIcon img:hover{
    animation: like;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes like{
    25%{
        transform: scale(1.5);
    }
    45%{
        transform: scale(1.3);
    }
    65%{
        transform: scale(1.5);
    }
}

.editDelete{
    display: grid;
    justify-content: end;
}

.editDelete img{
    width: 1.6rem;
    cursor: pointer;
    margin-left: .8rem;
}

#edit img:hover{
    animation: edit;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes edit{
    20%{
        transform: translateX(.3rem) rotate(-30deg);
    }
    35%{
        transform: translateX(-.4rem) rotate(-35deg);
    }
    45%{
        transform: translateX(.5rem) rotate(-30deg);
    }
    55%{
        transform: translateX(-.6rem) rotate(-35deg);
    }
    65%{
        transform: translateX(.7rem)scale(1.2) rotate(-30deg);
    }
}

#del img:hover{
    animation: del;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes del{
    20%{
        transform: translateX(.3rem) rotate(-35deg);
    }
    35%{
        transform: translateX(-.3rem) rotate(35deg);
    }
    55%{
        transform: translateX(.6rem) rotate(-85deg)
    }
    70%{
        transform: scale(0);
    }
}

/* Go to top icon ----------------------------------------------------------------- */
.icon{
    grid-area: icon;
    position: fixed;
    right: 1rem;
    bottom: 5px;
    width: 7rem;
    display: grid;
    justify-content: end;
}

.icon img{
    transition: all .3s;
    display: none;
    cursor: pointer;
    width: 7rem;
}

.icon img:hover{
    animation: point;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes point{
    25%{
        transform: translateY(-1.4rem);
    }
}

/* Ipad Pro media -----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    *{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none ;
        -ms-animation: none ;
        animation: none;
    }
    .favoriteIcon:hover, .editDelete:hover  {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
         animation-play-state: paused;
    }
    .container{
        grid-row-gap: 5rem;
    }
    .title h2{
        font-size: 2rem;
    }
    .box{
        padding: 1.5rem;
    }
    .recipeName{
        font-size: 1.2rem;
        padding: 1rem 0 .5rem 0;
        line-height: 1.4rem;
        height: 4.5rem;
    }
    .recipeName span{
        font-size: 1rem;
    }
    .recipeCreater{
        font-size: 1rem;
        padding-bottom: .2rem;
    }
    .recipeCreatedDate{
        font-size: 1rem;
    }
    .favoriteIcons img{
        width: 1.4rem;
    }
}

/* Ipad media -----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .container{
        grid-row-gap: 3.5rem;
    }
    .allRecipesList{
        grid-area:allRecipesList;
        display: grid;  
        padding: 0 2rem;
        grid-gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .recipeCreater{
        font-size: 1.4rem;
        padding-bottom: .2rem;
    }
    .recipeCreatedDate{
        font-size: 1.3rem;
    }
    .favoriteIcons img{
        width: 1.6rem;
    }
}

/* Iphone plus media -----------------------------------------------------------------*/
@media only screen and (max-width: 414px) {
    /* Header area */
    .head{
        height: 5rem;
    }
    .logo h1 {
        font-size: 2rem;
    }
    .subHead{
        grid-template-columns: 1fr 1fr;
    }
    .subHeadA h2{
        font-size: .63rem;
        padding-left: .4rem;
    }
    .subHeadA span{
        font-size: 6px;
    }
    .subHeadB{
        text-align: end;
    }
    .subHeadB a{
        font-size: .7rem;
    }
    .subHeadB h5{
        font-size: .7rem;
    }
    /* The end of Header */
    .allRecipesList{
        grid-area:allRecipesList;
        display: grid;  
        padding: 0 3rem;
        grid-gap: 4rem;
        grid-template-columns: 1fr;
    }
    .box{
        padding: 2rem;
    }
    .recipeImg{
        height: 25vh;
    }
    .favoriteIcon{
        margin-top: .7rem;
    }
    .editDelete{
        margin-top: .7rem;
    }
    .icon{
        width: 4rem;
    }
    .icon img{
        animation-iteration-count: initial;
        width: 4rem;
    }
}

/* Iphone X media -----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
    .subHeadA h2{
        font-size: .2rem;
        padding-left: .4rem;
    }
}